a[href]:not([tabindex="-1"]),
area[href]:not([tabindex="-1"]),
button:not([disabled]):not([tabindex="-1"]),
input:not([disabled]):not([type="hidden"]):not([tabindex="-1"]),
textarea:not([disabled]):not([tabindex="-1"]),
select:not([disabled]):not([tabindex="-1"]),
summary:not([tabindex="-1"]),
[tabindex]:not([tabindex="-1"]) {
    box-shadow: 0 0 0 2px #fff !important;
    outline: 2px dotted #B71C1C !important;
}
