a[href],
area[href],
button:not([disabled]),
input:not([disabled]):not([type="hidden"]),
textarea:not([disabled]),
select:not([disabled]),
[tabindex]:not([tabindex="-1"]) {
    box-shadow: 0 0 0 2px #fff !important;
    outline: 2px dotted #B71C1C !important;
}
